import numpy as np
import pandas as pd
import matplotlib.pyplot as plt





year_n_1 = (20, 25, 27, 35, 27, 27, 33)
year_n = (25, 32, 35, 40, 33, 29, 36)

ind = np.arange(7)
width = 0.35

fig, ax = plt.subplots(figsize=(9, 6))
rects1 = ax.bar(ind - width / 2, year_n_1, width, color='#1f77b4', alpha=0.5)
rects2 = ax.bar(ind + width / 2, year_n, width, color='#1f77b4')

plt.xticks(np.arange(7), ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'))
plt.xlabel('Month')
plt.ylabel('Turnover (k euros)')
plt.legend((rects1[0], rects2[0]), ('year N-1', 'year N'))

plt.show(