<!DOCTYPE html>
<html>
<ul>
  <li><a class="active" href="home">Home</a></li>
  <li><a href="acb">ACB</a></li>
  <li><a href="n50">N50</a></li>
  <li><a href="homepage">NIFTY</a></li>
  <li><a href="/get_pa/">PA</a></li>
    </ul>

<head>
    <meta charset=”utf-8″>
    <meta http-equiv="refresh" content="30">
   

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid;
        }

        thead {
            background-color: hsla(89, 43%, 51%, 0.3);
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #DDD;
        }

        tr:hover {
            background-color: #D6EEEE;
        }
    </style>
</head>

<div>
    NSE Derivatives
</div>

<body>

    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script>

        var labels = ['{{a1}}/{{aa1}}',
            '{{a2}}/{{aa2}}',
            '{{a3}}/{{aa3}}',
            '{{a4}}/{{aa4}}',
            '{{a5}}/{{aa5}}',
            '{{a6}}/{{aa6}}',
            '{{a7}}/{{aa7}}',
            '{{a8}}/{{aa8}}',
            '{{a9}}/{{aa9}}',
            '{{a10}}/{{aa10}}',
            '{{a11}}/{{aa11}}',
            '{{a12}}/{{aa12}}',
            '{{a13}}/{{aa13}}',
            '{{a14}}/{{aa14}}'];

        const ctx = document.getElementById('myChart');
        Chart.register(ChartDataLabels);

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{

                    data: [{{ d1 }}, {{ d2 }}, {{ d3 }}, {{ d4 }}, {{ d5 }}, {{ d6 }}, {{ d7 }}, {{ d8 }}, {{ d9 }}, {{ d10 }}, {{ d11 }}, {{ d12 }}, {{ d13 }}, {{ d14 }}],

                    labels: 'NIFTY50',
                    backgroundColor: function (context) {
                        var lableName = context.chart.data.labels[context.dataIndex];
                        console.log(lableName);
                        if (lableName.includes("Call")) {
                            return 'green';
                        }
                        return 'red';
                    },
                    borderWidth: 3,
                    borderColor: 'black'
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'VOLUME',
                        color: 'blue',
                        font: {
                            weight: 'bold',
                            size: 20
                        }
                    },
                    datalabels: {
                        anchor: 'end',
                        align: 'end',
                        color: 'blue',
                        font: {
                            weight: 'bold',
                        },
                        formatter: function (value, context) {
                            console.log(value);
                            console.log(context);
                            return value;
                        }
                    }
                }
            }
        });

    </script>

    <div>
        <br />
        {% block content %}
        <br />

        
            
        <div>
            <h2>ACB : {{n50}}[{{n56}}] ,{{raj}}. ,F[{{nft}}][{{n55}}]</h2>
            <br />
            <table>
                <thead>
                    <tr>
                        <th>S.NO</th>
                        <th>TYPE</th>
                        <th>OPTION</th>
                        <th>OPEN</th>
                        <th>HIGH</th>
                        <th>LOW</th>
                        <th>LTP</th>
                        <th>CLOSE</th>
                        <th>OI</th>
                        <th>VOLUME</th>
                        <th>VALUE</th>
                        
                     </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>{{ aq1 }}</td>
                        <td>{{ aaq1 }}</td>
                        <td>{{oq1}}</td>
                        <td>{{hq1}}</td>
                        <td>{{ lq1 }}</td>
                        <td>{{ laq1 }}</td>
                        <td>{{ ivq1 }}</td>
                        <td>{{ op1 }}</td>
                        <td>{{dq1}}</td>
                        <td>{{ vq1 }}</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>{{ aq2 }}</td>
                        <td>{{ aaq2 }}</td>
                        <td>{{oq2}}</td>
                        <td>{{hq2}}</td>
                        <td>{{ lq2 }}</td>
                        <td>{{ laq2 }}</td>
                        <td>{{ ivq2 }}</td>
                        <td>{{ op2 }}</td>
                        <td>{{dq2}}</td>
                        <td>{{ vq2 }}</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>{{aq3}}</td>
                        <td>{{ aaq3 }}</td>
                        <td>{{oq3}}</td>
                        <td>{{hq3}}</td>
                        <td>{{lq3}}</td>
                        <td>{{laq3}}</td>
                        <td>{{ivq3}}</td>
                        <td>{{ op3 }}</td>
                        <td>{{dq3}}</td>
                        <td>{{vq3}}</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>{{aq4}}</td>
                        <td>{{aaq4}}</td>
                        <td>{{oq4}}</td>
                        <td>{{hq4}}</td>
                        <td>{{lq4}}</td>
                        <td>{{laq4}}</td>
                        <td>{{ivq4}}</td>
                        <td>{{ op4 }}</td>
                        <td>{{dq4}}</td>
                        <td>{{vq4}}</td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>{{ aq5 }}</td>
                        <td>{{ aaq5 }}</td>
                        <td>{{oq5}}</td>
                        <td>{{hq5}}</td>
                        <td>{{ lq5 }}</td>
                        <td>{{ laq5 }}</td>
                        <td>{{ ivq5 }}</td>
                        <td>{{ op5 }}</td>
                        <td>{{dq5}}</td>
                        <td>{{ vq5 }}</td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>{{aq6}}</td>
                        <td>{{ aaq6 }}</td>
                        <td>{{oq6}}</td>
                        <td>{{hq6}}</td>
                        <td>{{ lq6 }}</td>
                        <td>{{ laq6 }}</td>
                        <td>{{ ivq6 }}</td>
                        <td>{{ op6 }}</td>
                        <td>{{dq6}}</td>
                        <td>{{ vq6 }}</td>
                    </tr>

                    <tr>
                        <td>7</td>
                        <td>{{ aq7 }}</td>
                        <td>{{ aaq7 }}</td>
                        <td>{{oq7}}</td>
                        <td>{{hq7}}</td>
                        <td>{{ lq7 }}</td>
                        <td>{{ laq7 }}</td>
                        <td>{{ ivq7 }}</td>
                        <td>{{ op7 }}</td>
                        <td>{{dq7}}</td>
                        <td>{{ vq7 }}</td>
                    </tr>

                    <tr>
                        <td>8</td>
                        <td>{{ aq8 }}</td>
                        <td>{{ aaq8 }}</td>
                        <td>{{oq8}}</td>
                        <td>{{hq8}}</td>
                        <td>{{ lq8 }}</td>
                        <td>{{ laq8 }}</td>
                        <td>{{ ivq8 }}</td>
                        <td>{{ op8 }}</td>
                        <td>{{dq8}}</td>
                        <td>{{ vq8 }}</td>
                    </tr>

                    <tr>
                        <td>9</td>
                        <td>{{ aq9 }}</td>
                        <td>{{ aaq9 }}</td>
                        <td>{{oq9}}</td>
                        <td>{{hq9}}</td>
                        <td>{{ lq9 }}</td>
                        <td>{{ laq9 }}</td>
                        <td>{{ ivq9 }}</td>
                        <td>{{ op9 }}</td>
                        <td>{{dq9}}</td>
                        <td>{{ vq9 }}</td>
                    </tr>

                    <tr>
                        <td>10</td>
                        <td>{{ aq10 }}</td>
                        <td>{{ aaq10 }}</td>
                        <td>{{oq10}}</td>
                        <td>{{hq10}}</td>
                        <td>{{ lq10 }}</td>
                        <td>{{ laq10 }}</td>
                        <td>{{ ivq10 }}</td>
                        <td>{{ op10 }}</td>
                        <td>{{dq10}}</td>
                        <td>{{ vq10 }}</td>
                    </tr>

                    <tr>
                        <td>11</td>
                        <td>{{ aq11 }}</td>
                        <td>{{ aaq11 }}</td>
                        <td>{{oq11}}</td>
                        <td>{{hq11}}</td>
                        <td>{{ lq11 }}</td>
                        <td>{{ laq11 }}</td>
                        <td>{{ ivq11 }}</td>
                        <td>{{ op11 }}</td>
                        <td>{{dq11}}</td>
                        <td>{{ vq11 }}</td>
                    </tr>


                    <tr>
                        <td>12</td>
                        <td>{{ aq12 }}</td>
                        <td>{{ aaq12 }}</td>
                        <td>{{oq12}}</td>
                        <td>{{hq12}}</td>
                        <td>{{ lq12 }}</td>
                        <td>{{ laq12 }}</td>
                        <td>{{ ivq12 }}</td>
                        <td>{{ op12 }}</td>
                        <td>{{dq12}}</td>
                        <td>{{ vq12 }}</td>
                    </tr>

                    <tr>
                        <td>13</td>
                        <td>{{ aq13 }}</td>
                        <td>{{ aaq13 }}</td>
                        <td>{{oq13}}</td>
                        <td>{{hq13}}</td>
                        <td>{{ lq13 }}</td>
                        <td>{{ laq13 }}</td>
                        <td>{{ ivq13 }}</td>
                        <td>{{ op13 }}</td>
                        <td>{{dq13}}</td>
                        <td>{{ vq13 }}</td>
                    </tr>

                    <tr>
                        <td>14</td>
                        <td>{{ aq14 }}</td>
                        <td>{{ aaq14 }}</td>
                        <td>{{oq14}}</td>
                        <td>{{hq14}}</td>
                        <td>{{ lq14 }}</td>
                        <td>{{ laq14 }}</td>
                        <td>{{ ivq14 }}</td>
                        <td>{{ op14 }}</td>
                        <td>{{dq14}}</td>
                        <td>{{ vq14 }}</td>
                    </tr>

                </tbody>
            </table>

            <br />
            <h2>P:{{pre}} PH: {{hpre}} PL: {{lpre}}</h2>
            <br />


            <table>
                <thead>
                    <tr>
                        
                        
                         <th>LIVE</th>
                        <th>CHNG CALL</th>
                        <th>CHNG PUT</th>
                        <th> CALL</th>
                        <th> PUT</th>
                        <th>UP</th>
                        <th>DOWN</th>
                        <th>RANGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                         <td>1</td>
                        <td>{{ops1}}</td>
                        <td>{{ops2}}</td>
                        <td>{{tamil}}</td>
                        <td>{{tamil1}}</td>
                        <td>{{t1}}</td>
                        <td>{{t2}}</td>
                        <td>{{tt}}</td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
        {% endblock content %}
    </div>
</body>

</html>