
<!DOCTYPE html>

<html lang="en">
<!DOCTYPE html>
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="acb">ACB</a></li>
  <li><a href="range">RANGE</a></li>
  <li><a href="home1">NIFTY</a></li>
   <li><a href="pcr">PCR</a></li>
<li><a href="oi">OI</a></li>
  <li><a href="/get_pa/">PA</a></li>
    </ul>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="home1">Home</a></li>
  <li><a href="acb">ACB</a></li>
  <li><a href="n50">N50</a></li>
  <li><a href="homepage">NIFTY50</a></li>
</ul>



<h3>pre_close:{{pre_closeprice}}</h3>
<h3>pre_high:{{pre_max}}</h3>
<h3>pre_low:{{pre_min}}</h3>
<h3>pre_low:{{pre_var}}</h3>

 

<head>

    <meta charset="UTF-8">

    <meta name="viewport"

          content="width=device-width, initial-scale=1.0">

    <style>

        body {

            background-color: rgb(239, 237, 237);

        }

    </style>

    <title>Chart</title>

</head>
 

<body>

    <div>

        <canvas id="myChart"></canvas>

    </div>

    <script src=

"https://cdn.jsdelivr.net/npm/chart.js">

      </script>

    <script src=

"https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels">

      </script>

    <script>

        const ctx = document.getElementById('myChart');

        // Manually register the chartjs datalabels plugin

        Chart.register(ChartDataLabels);

        new Chart(ctx, {

            type: 'bar',

            data: {

                labels: ['pre_closeprice','pre_high'],

                datasets: [{

                    label: `PREOPEN`,

                    data: [{{pre_closeprice}},{{pre_var}}],

                    borderWidth: 3,

                    backgroundColor: 'lightblue',

                    borderColor: 'blue'

                }]

            },

            options: {

                plugins: {

                    title: {

                        display: true,

                        text: 'NIFTY50',

                        color: 'blue',

                        font: {

                            weight: 'bold',

                            size: 20

                        }

                    },

                    datalabels: {

                        // Position of the labels 

                        // (start, end, center, etc.)

                        anchor: 'end',

                        // Alignment of the labels 

                        // (start, end, center, etc.)

                        align: 'end',

                        // Color of the labels

                        color: 'blue',

                        font: {

                            weight: 'bold',

                        },

                        formatter: function (value, context) {

                            // Display the actual data value

                            return value;

                        }

                    }

                }

            }

        });

    </script>

</body>
 

</html>


